<div class="header">
  <h1>ALBUMS: {{ filteredArray.length }}</h1>

  <input type="text" (input)="filterAlbums()" [formControl]="searchTerm" placeholder="FILTER...">

  <form [formGroup]="chkFG" id="checkbox-form">
    <div *ngFor="let check of checkboxes">
      <mat-checkbox [formControlName]="check.value" (change)="onCheckboxChange()">{{check.label}}</mat-checkbox>
    </div>
  </form>
</div>

<div class="grid-container">
  <ng-container *ngFor="let album of filteredArray">
    <div class="container" (click)="goToLink(album.url)">
      <img src="{{'assets/album-covers/' + album.artist + ' - ' + album.title + '.webp'}}">
      <div class="overlay">
        <div class="text">
          <ul>
            <li>{{ album.displayartist || album.artist }}</li>
            <li>{{ album.displaytitle || album.title }}</li>
            <li>{{ album.genres }}</li>
            <li class="hidden">{{ album.country + ' - ' + album.year }}</li>
            <li *ngIf="album.extra">{{ album.extra }}</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</div>