.grid-container {
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  grid-gap: 1px;
}

.container {
  position: relative;
  width: 100%;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;

    
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    .text {
      color: white;
      font-size: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;

      ul {
        list-style: none;
        padding: 10px;
        margin: 0;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }


  img {
    max-width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  h1 {
    color: #8ba8ff;
    font-size: clamp(48px, 5vw, 150px);
    margin: 0;
  }

  input, input:focus {
    min-width: 300px;
    width: 50vw;
    height: 40px;

    background-color: #161a25;
    font-size: 36px;
    color: #8ba8ff;

    border: 1px solid #8ba8ff;
    border-radius: 5px;

    text-transform: uppercase;
  }
  
}


// Target devices without hover: always show opacity
@media (hover: none) {
  .container .overlay {
    opacity: 0.55;
  }
}