<div class="header">
  <h1>ALBUMS: {{ filteredArray.length }}</h1>

  <input type="search" (input)="filterAlbums()" [(ngModel)]="searchInput" placeholder="FILTER..." autofocus role="search">

  <form [formGroup]="chkFG" id="checkbox-form">
    @for (check of checkboxes; track check.value) {
      <mat-checkbox [disabled]="true" [formControlName]="check.value" (change)="onCheckboxChange()">{{check.label}}</mat-checkbox>
    }
  </form> 
</div>

<div class="grid-container" [class.is-mobile]="isMobile" [class.is-touch]="isTouchDevice">
  @for (album of filteredArray; track album.url) { 
    @let url = album.url;
    @let imageName = 'assets/album-covers/'+album.artist+' - '+album.title+'.webp';

    <div class="album" (click)="onAlbumClick(url)">
      <img [src]="imageName" class="album__cover" alt="album-cover">
      <div class="album__overlay" [hidden]="isTouchDevice && !albumClicked(url)">
        <div class="album__info">
          <span>{{ album.displayartist || album.artist }}</span>
          <span>{{ album.displaytitle || album.title }}</span>
          <span>{{ album.genres }}</span>
          <span>{{ album.country + ' - ' + album.year }}</span>
          @if (album.extra) {
            <span>{{ album.extra }}</span>
          }
          @if (isTouchDevice) {
            <span><mat-icon (click)="visitLink(url)">open_in_new</mat-icon></span>
          }
        </div>
      </div>
    </div>
  }
</div>