// Variables
$h1-font-size: clamp(42px, 5vw, 50px);
$input-font-size: clamp(1rem, -0.875rem + 8.333vw, 36px);
$checkbox-font-size: clamp(14px, 2vw, 18px);
$input-size: clamp(250px, 60vw, 650px);
$overlay-font-size: clamp(0.5rem, 2vw, .8rem);
$font-color: #8ba8ff;

::placeholder {
  color: $font-color;
  opacity: .7; 
}

.grid-container {
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: center;
  grid-gap: 1px;
}

.container {
  position: relative;
  width: 100%;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;

    
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    .text {
      color: white;
      font-size: $overlay-font-size;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;

      ul {
        list-style: none;
        padding: 10px;
        margin: 0;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }


  img {
    max-width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;

  h1 {
    color: $font-color;
    font-size: $h1-font-size;
    margin: 0;
  }

  input, input:focus {
    width: $input-size;
    height: 40px;

    background-color: #161a25;
    font-size: $input-font-size;
    color: $font-color;

    border: 1px solid $font-color;
    border-radius: 5px;

    text-transform: uppercase;
  }

  #checkbox-form {
    width: $input-size;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    mat-checkbox {
      font-size: $checkbox-font-size;

      label {
        color: $font-color;
      }
    }
  }
}

// Target devices without hover: always show opacity
@media (hover: none) {
  .container .overlay {
    opacity: 0.55;
  }
}

// Tablet and mobile
@media (max-width: 785px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, 30vw);

    li {
      margin-bottom: 7px !important; 
    }

    .hidden {
      display: none;
    }
  }
}