.grid-container {
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  grid-gap: 3px; /* Aggiungi un margine tra gli elementi, se lo desideri */
}

.container {
  position: relative;
  width: 100%;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;

    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;

      ul {
        list-style: none;
        padding: 10px;
        margin: 0;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  &:hover .overlay {
    opacity: 0.8;
    cursor: pointer;
  }

  img {
    max-width: 100%;
  }
}